@media screen and (max-width: 600px) {
    .navbar {
        padding: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: .7em;
    }
}



.navbar {
    padding: 5px;
    background-image: linear-gradient(white, black, black, black, black);
    width: 100%;    
    
}

.itensNavbar,
.link {
    color: white;
    text-decoration: none;
    transition: .9s;
    
}

.link {
    padding: 10px;
    border-radius: 2.5px;
}

.itensNavbar:hover,
.link:hover {
    color: red;
}

/* Surface Duo*/
@media screen and (min-width: 500px) and (max-width: 540px) {
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

/* Ipad Mini */
@media screen and (min-width: 600px) and (max-width: 779px) {
    .navbar {
        padding: 25px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        font-size: 1.3em;
    }
}

/* Ipad Air */
@media screen and (min-width: 779px) and (max-width: 1200px) {
    .navbar {
        padding: 30px;
        display: flex;
        align-items: end;
        justify-content: space-between;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 1200px) {

    
    .navbar {
        padding: 50px;
        display: flex;
        align-items: end;
        justify-content: space-between;
    }
}

