.containerPageFilme {
    background-color: black;
    color: white;
    height: 100vh;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.containerPageFilme h1 {
    color: white;
}

.containerPageFilme img {
    max-width: 900px;
}

.pageInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    height: 70vh;
    margin-bottom: 20px;
}

.pageInfo p {
    color: white;
    max-width: 900px;
}

.telaLoading {
    background-color: black;
    text-align: center;
    height: 65vh;
    
}

.telaLoading h1 {
    color: white;
}

.areaButton {
    width: 200px;
    display: flex;
    justify-content: space-between;
}


.areaButton button{
    padding: 10px;
    background: rgb(90, 206, 202);
    border: none;
    border-radius: 3px;
    transition: .5s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.areaButton button:hover {
    background-color:rgb(86, 233, 228)
}